$mobile: 375px;
$desktop: 1440px;

$primaryDarkCyan: hsl(185, 75%, 39%);
$primaryVeryDarkDesaturatedBlue: hsl(229, 23%, 23%);
$primaryDarkGrayishBlue: hsl(227, 10%, 46%);
$neutralDarkGray: hsl(0, 0%, 59%);

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Kumbh Sans;
}

body {
	background-image: url(./images/bg-pattern-top.svg);
	background-color: $primaryDarkCyan;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 150px;
	min-width: 375px;

	.card {
		background: #fff;
		display: flex;
		flex-direction: column;
		height: 380px;
		width: 320px;
		justify-content: start;
		align-items: center;
		border-radius: 10px;
		overflow: hidden;
		margin-bottom: 20px;

		.card-top {
			background-image: url(./images/bg-pattern-card.svg);
			background-color: $primaryDarkCyan;
			height: 36%;
			width: 100%;
		}

		.personal-data {
			display: inline-block;
			justify-content: center;
			height: 42%;
			width: 100%;

			img {
				display: block;
				border-radius: 50%;
				margin-top: -50px;
				margin-left: auto;
				margin-right: auto;
				border: white 5px solid;
			}

			.bold {
				color: $primaryVeryDarkDesaturatedBlue;
				font-size: 16px;
				font-weight: 700;
				text-align: center;
				margin-top: 25px;

				span {
					font-weight: 400;
					color: $primaryDarkGrayishBlue;
					margin-left: 5px;
				}
			}

			p {
				color: $primaryDarkGrayishBlue;
				font-size: 12px;
				font-weight: 400;
				text-align: center;
				margin-top: 10px;
			}
		}

		.stats {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			border-top: .3px solid $neutralDarkGray;
			height: 22%;
			width: 100%;

			.stat {
				text-align: center;

				.bold {
					color: $primaryVeryDarkDesaturatedBlue;
					font-size: 16px;
					font-weight: 700;
					padding: 5px;
				}

				p {
					color: $neutralDarkGray;
					font-size: 10px;
					font-weight: 400;
					letter-spacing: 1px;
				}
			}
		}
	}
	.attribution {
		margin-top: 20px;
	}
}
