* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Kumbh Sans;
}

body {
  background-image: url(./images/bg-pattern-top.svg);
  background-color: #19a2ae;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
  min-width: 375px;
}

body .card {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 380px;
  width: 320px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

body .card .card-top {
  background-image: url(./images/bg-pattern-card.svg);
  background-color: #19a2ae;
  height: 36%;
  width: 100%;
}

body .card .personal-data {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 42%;
  width: 100%;
}

body .card .personal-data img {
  display: block;
  border-radius: 50%;
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
  border: white 5px solid;
}

body .card .personal-data .bold {
  color: #2d3248;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-top: 25px;
}

body .card .personal-data .bold span {
  font-weight: 400;
  color: #6a6f81;
  margin-left: 5px;
}

body .card .personal-data p {
  color: #6a6f81;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}

body .card .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 0.3px solid #969696;
  height: 22%;
  width: 100%;
}

body .card .stats .stat {
  text-align: center;
}

body .card .stats .stat .bold {
  color: #2d3248;
  font-size: 16px;
  font-weight: 700;
  padding: 5px;
}

body .card .stats .stat p {
  color: #969696;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1px;
}

body .attribution {
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */